grant codeBase "file:/C:/Users/ifc/git/ProgramacionPSoSCAR/Procesos_Java/bin/ExamenEvaluacion2"{
        permission java.util.PropertyPermission "user.dir", "read";
        permission java.util.PropertyPermission "user.home", "read";
        permission java.util.PropertyPermission "user.name", "read";
        permission java.util.PropertyPermission "java.class.path", "read";
        permission java.util.PropertyPermission "java.home", "read";
};
